In [16]:
import matplotlib.pyplot as plt
import pandas as pd

import xlsxwriter

In [17]:
df = pd.read_csv('date.csv')

In [18]:
df.head()

  cell name  30-Jun  1-Jul  2-Jul  3-Jul
0       skt      99     99     99     99
1       skt      99    999     99    100
2       skt     100      0      1      0

<center>volte</center>

In [20]:
df.columns=pd.MultiIndex.from_product([['Volte Setup Sucess rate'],df.columns])

In [21]:
df

  Volte Setup Sucess rate
                cell name 30-Jun 1-Jul 2-Jul 3-Jul
0                     skt     99    99    99    99
1                     skt     99   999    99   100
2                     skt    100     0     1     0